.account-wrapper {
  background-color: #f0f0f0;
}
.account-setting {
  width: 950px;
  font-size: 14px;
  margin: 0 auto;
  padding: 40px 0;
  .left-side {
    display: inline-block;
    width: 200px;
    height: 140px;
    background-color: #fff;
    box-shadow: 0 0 2px 0 #dfe6e5;
    margin-right: 20px;
    float: left;
    ul {
      padding: 10px 0;
      li {
        display: inline-block;
        position: relative;
        width: 100%;
        line-height: 20px;
        font-size: 14px;
        color: #222;
        padding: 10px 20px;
        border-left: 2px solid #fff;
        &::after {
          content: "";
          display: inline-block;
          position: absolute;
          right: 30px;
          top: 15px;
          width: 5px;
          height: 5px;
          border: 1px solid #666666;
          border-top: 0;
          border-left: 0;
          vertical-align: middle;
          transform: rotate(-45deg);
        }
        &.active {
          border-left: 2px solid #22d18e;
        }
      }
    }
  }
  .right-side {
    display: inline-block;
    width: 680px;
    background-color: #fff;
    box-shadow: 0 0 2px 0 #dfe6e5;
    .setting-info {
      padding: 0 20px 40px;
      margin-bottom: 40px;
      background-color: #fff;
      box-shadow: 0 0 2px 0 #dfe6e5;
    }
    h3 {
      padding: 20px 0;
      border-bottom: 1px solid #dfe6e5;
      margin: 0 0 20px;
      line-height: 22px;
      font-size: 16px;
      font-weight: 500;
      color: #222;
    }
  }
}