.form-group {
  margin-bottom: 28px;
  label {
    display: block;
    margin-bottom: 10px;
    line-height: 20px;
    color: #7b7f81;
  }
  input {
    width: 467px;
    height: 38px;
    padding: 9px 10px;
    border: 1px solid #dfe6e5;
    outline: none;
    font-size: 14px;
    color: #222;
    :disabled {
      background-color: #f2f3f5;
      color: #7b7f81;
    }
  }
}